
<div class="containter text-center card-wrapper">
  <h2>Edit the dose of <strong><%= @ingredient.name %></strong> in <strong><%= @cocktail.name %></strong></h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>
  <div class="form-inputs">
      <%= f.input :description %>
      <%= f.hidden_field :cocktail_id, :value => @cocktail.id %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-medium-primary' %>
    </div>
  <% end %>
  <div class='btn-wrapper wrapper'>
    <%= link_to 'Back', @cocktail, class: 'btn btn-medium-danger' %>
  </div>
</div>
